/*--------------------------------
Portfolio Demo Styles
--------------------------------*/

body {
    background: #f0f0f0;
    margin: 1.5em;
    font-family: $sans-serif;
}

.calc-demo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.view-code {
    font-size: 1.25em;
    display: block;
    vertical-align: bottom;
    margin: 2em auto 0.5em;
    width: 100%;
    max-width: 400px;
   
   a {
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: $calculator-blue;
        transition: 0.2s;
        display: block;
        text-align: center;

        &:hover {
            color: $calculator-orange;
        }
    }

    img {
        max-height: 20px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 3px;
    }
}


.portfolio-return {
    display: block;
    text-align: center;
    
    a {
        font-weight: normal;
        color: $calculator-blue;
        transition: 0.2s;
        font-size: 0.9rem;
        text-decoration: none;

        &:hover {
            color: $calculator-orange;
        }
    }
}