/*--------------------------------
General Rate Calculator Styles
--------------------------------*/



.rate-calculator-style {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
}


/*--------------------------------
BiLateral Button Styles
--------------------------------*/

.bilateral-calculator-buttons {

    &__single-button {
        font-family: $sans-serif;

        //Active Styles
        &.bilateral-active {
            border: 2px solid $calculator-light-green;
            outline: none;
        }

        //Disabled Styles
        &.button-disabled {
            color: #e0e0e0;
            background: red;
            pointer-events: none;
        }
    }

} //End .bilateral-calculator-buttons

/*--------------------------------
Additional Information Styles
(Dependents/Marital Status, Etc.)
--------------------------------*/


//Marriage Button Toggle Styles
.marriage-button-active {
    border: 2px solid $calculator-light-green;
}

.aid-and-attendance-status-wrapper {
    display: block;

    &.aa-status-disabled {
        display: none;
    }
}

.aa-button-active {
    border: 2px solid $calculator-light-green;
}


/***********************************************************
Calculator Appearance & Grid Styles
***********************************************************/


/*--------------------------------
Overall Styles
--------------------------------*/

.rate-calculator-outer {

    max-width: 800px;
    margin: 30px auto;
    background: $calculator-blue;
    background: linear-gradient(to bottom, lighten($calculator-blue, 5%) 0%, darken($calculator-blue, 10%) 100%);
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    box-sizing: border-box;
    overflow: hidden;

    .rate-calculator-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 34px;
        display: block;
        text-align: center;
    }

    h1, h2, h3, h4, h5 {
        font-family: $sans-serif-alt;
    }


} //End .rate-calculator-outer

.rate-calculator-inner-wrapper {
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border: 2px solid #fff;
    border-bottom: 0;

    h2 {

        font-weight: normal;

        &.no-top-margin {
            margin-top: 0;
        }
    }

} //End .rate-calculator-inner

/*--------------------------------
Top Calculator Styles
--------------------------------*/

.rate-calculator-top {

    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #5f778c;
    box-sizing: border-box;

    &__inner {
        @include calc-clearfix();

    }

    &__left {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 30px auto;
        box-sizing: border-box;

        @media screen and (min-width: 9999px) { //768 Very large for sidebar test at the moment
            float: left;
            width: 300px;
            margin: 0;
            padding-right: 15px;
        }
    }

    &__right {
        width: 100%;
        margin: 0 auto 20px auto;
        box-sizing: border-box;


        @media screen and (min-width: 9999px) { //768 Very large for sidebar test at the moment
            float: left;
            width: calc(100% - 300px);
            margin: 0;
            padding-left: 15px;
        }
    }

    //Component Styles

    &__disability-percentage-title {
        text-align: center;
    }

    &__disability-percentage {
        text-align: center;
        margin-bottom: 20px;
    }

    &__disability-percentage-inner {
        //border: 4px solid #a2665c;
        background: #5c7c96;
        color: #fff;
        height: 130px;
        width: 130px;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        line-height: 130px;
        font-size: 45px;
        text-align: center;
        border-radius: 130px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.2)
    }

    &__bilateral-info {
        text-align: center;

        h3 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            color: #9fb5cc;
            margin: 10px 0;
            font-family: $sans-serif;
        }
    }

    &__bilateral-info-text {

    }

    &__bilateral-injuries {
        margin-bottom: 12px;
        //padding-bottom: 12px;
        border-bottom: 1px solid #aaa;
        max-width: 438px;
    }

    &__add-disabilities {

    }

    &__disabilities-added {

    }

} //End .rate-calculator-top


//Bilateral Choice Buttons
.bilateral-calculator-buttons {

    &__single-button {
        font-family: $sans-serif;
        background: #fff;
        border-radius: 4px;
        padding: 10px;
        color: $calculator-blue;
        transition: 0.2s;
        border: 1px solid #6d6d6d;
        border-bottom: 3px solid #4a4b4c;
        position: relative;
        width: 106px;
        cursor: pointer;
        outline: none;
        margin-bottom: 10px;
        top: 0;

        &:hover {
            background: $calculator-orange; //Button Hover
            border: 1px solid darken($calculator-orange, 15%);
            border-bottom: 3px solid darken($calculator-orange, 15%);
            color: #fff;
        }

        //Active Styles
        &.bilateral-active {
            background: $calculator-light-green;
            color: #fff;
            top: 2px;
            border: 1px solid darken($calculator-light-green, 10%);
        }

    }

} //End .bilateral-calculator-buttons

//Disability Percentage Buttons
.disability-calculator-buttons {

    &__single-button {
        font-family: $sans-serif;
        background: #fff;
        border-radius: 4px;
        padding: 10px;
        color: $calculator-blue;
        transition: 0.2s;
        border: 1px solid #6d6d6d;
        border-bottom: 3px solid #4a4b4c;
        position: relative;
        top: 0;
        width:  84px;
        cursor: pointer;
        outline: none;
        margin-bottom: 10px;

        &:hover {
            background: $calculator-orange; //Button Hover
            border: 1px solid darken($calculator-orange, 15%);
            border-bottom: 3px solid darken($calculator-orange, 15%);
            color: #fff;
        }

        &:active{
            top: 2px;
            border-bottom: 1px solid darken($calculator-orange, 15%);
        }

    }

} //End .disabiliity-calculator-buttons


//Disabilities Added Appearance

.current-disabilities-added-row {
    min-height: 55px;
}

.current-disabilities-added {
    display: inline-block;
    color: #fff;
    padding: 10px;
    border: 1px solid darken($calculator-red, 10%);
    border-radius: 3px;
    background: $calculator-red;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    line-height: 1;
} //End .current-disabilities-added


/*--------------------------------
Middle Calculator Styles
--------------------------------*/

.rate-calculator-middle {


    margin-bottom: 20px;
    //padding-bottom: 20px;
    //border-bottom: 1px solid #5f778c;
    box-sizing: border-box;

    &__inner-row {
        @include calc-clearfix();

        &:nth-of-type(1) {
            margin-bottom: 20px;
        }
    }

    &__row-title {
        margin-bottom: 5px;
        text-align: center;
    }

    &__left {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px auto;
        box-sizing: border-box;

        @media screen and (min-width: 9999px) { //768 Very large for sidebar test at the moment
            float: left;
            width: 50%;
            max-width: none;
            margin: 0;
            padding-right: 15px;
        }
    }

    &__right {
        width: 100%;
        margin: 0 auto 20px auto;
        max-width: 400px;
        box-sizing: border-box;

        @media screen and (min-width: 9999px) { //768 Very large for sidebar test at the moment
            float: left;
            width: 50%;
            max-width: none;
            margin: 0;
            padding-left: 15px;
        }
    }

} //End .rate-calculator-middle


//Marital Status Buttons
.marital-status {

    &__single-button {
        font-family: $sans-serif;
        background: #fff;
        border-radius: 4px;
        padding: 10px;
        color: $calculator-blue;
        transition: 0.2s;
        border: 1px solid #6d6d6d;
        border-bottom: 3px solid #4a4b4c;
        position: relative;
        width: 106px;
        cursor: pointer;
        outline: none;
        margin-bottom: 10px;
        top: 0;

        &:hover {
            background: $calculator-orange; //Button Hover
            border: 1px solid darken($calculator-orange, 15%);
            border-bottom: 3px solid darken($calculator-orange, 15%);
            color: #fff;
        }

        //Active Styles
        &.marriage-button-active {
            background: $calculator-light-green;
            color: #fff;
            top: 2px;
            border: 1px solid darken($calculator-light-green, 10%);
        }

    }

} //End .marital-status-buttons

//Aid and Attendance Buttons
.aid-and-attendance-status {

    &__single-button {
        font-family: $sans-serif;
        background: #fff;
        border-radius: 4px;
        padding: 10px;
        color: $calculator-blue;
        transition: 0.2s;
        border: 1px solid #6d6d6d;
        border-bottom: 3px solid #4a4b4c;
        position: relative;
        width: 106px;
        cursor: pointer;
        outline: none;
        margin-bottom: 10px;
        top: 0;

        &:hover {
            background: $calculator-orange; //Button Hover
            border: 1px solid darken($calculator-orange, 15%);
            border-bottom: 3px solid darken($calculator-orange, 15%);
            color: #fff;
        }

        //Active Styles
        &.aa-button-active {
            background: $calculator-light-green;
            color: #fff;
            top: 2px;
            border: 1px solid darken($calculator-light-green, 10%);
        }

    }

} //End .marital-status-buttons




/*--------------------------------
Reset Row Styles
--------------------------------*/

.rate-calculator-reset-row {

    box-sizing: border-box;
    margin-bottom: 0;
    background: $calculator-dark-blue;
    margin-top: 30px;
    min-height: 59px;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #fff;
    width: auto;
    margin-left: -10px;
    margin-right: -10px;

} //End .rate-calculator-reset-row


.reset-calculator-button {
    display: block;
    width: 220px;
    padding: 15px;
    border-radius: 4px;
    background: $calculator-orange;
    color: #fff;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darken($calculator-orange, 10%);
    border-bottom: 3px solid darken($calculator-orange, 10%);
    font-size: 22px;
    //text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 0;
    transform: translateY(0);

    &:hover {
        color: #fff;
        background: $calculator-red;
        border: 1px solid darken($calculator-red, 10%);
        border-bottom: 3px solid darken($calculator-red, 10%);
    }

    &:active {
        transform: translateY(2px);
        border-bottom: 1px solid darken($calculator-red, 10%);

    }
}

/*--------------------------------
Bottom Calculator Styles
--------------------------------*/

.rate-calculator-bottom {

    box-sizing: border-box;
    width: auto;
    margin-left: -17px;
    margin-right: -17px;
    position: relative;
    z-index: 10;
    background: #eaeaf0;
    color: $calculator-dark-blue;

    &__inner {
        @include calc-clearfix();
        padding-left: 10px;
        padding-right: 10px;
    }

    &__left {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px auto;
        box-sizing: border-box;

        @media screen and (min-width: 9999px) { //768 Very large for sidebar test at the moment
            float: left;
            width: 300px;
            margin: 0;
            padding-right: 0px;
            border-right: 1px solid #e0e0e0;
        }
    }

    &__right {
        width: 100%;
        margin: 0 auto 20px auto;
        box-sizing: border-box;

        @media screen and (min-width: 9999px) { //768 Very large for sidebar test at the moment
            float: left;
            width: calc(100% - 300px);
            margin: 0;
            padding-left: 15px;
        }
    }

    //Disability Rating Styles

    &__disability-rating-title {
        text-align: center;
        font-size: 29px;
        margin-top: 0;
        padding-top: 20px;
    }

    &__disability-rating {
        text-align: center;
        margin-bottom: 20px;
    }

    &__disability-rating-inner {
        border: 4px solid #820422;
        background: $calculator-red;
        color: #fff;
        height: 200px;
        width: 200px;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        line-height: 200px;
        font-size: 72px;
        text-align: center;
        text-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border-radius: 200px;
    }


    //Payment Amount Styles
    &__payment-amount-title {
        text-align: center;
        font-size: 29px;
    }

    &__payment-amount-text {
        text-align: center;
        font-size: 50px;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 20px;
    }

} //End .rate-calculator-bottom


