/*--------------------------------------
Misc. Variables
---------------------------------------*/

//Font Stacks
$sans-serif: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$sans-serif-alt: 'Avenir Next Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;

//Colors
$calculator-blue:           #476680;
$calculator-dark-blue:      #24384d;
$calculator-red:            #a41034;
$calculator-orange:         #cc624f;
$calculator-light-green:    #34a973;